$color:white;
body {
    background-image: url(/Project-0/img/spirit-blossom-sett-skin-lol-splash-art-hd-wallpaper-uhdpaper.com-660@1@i.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

.nav-link {
    color: $color;
    .nav-link :hover {
        color: black;
        font-size: large;
    }
}

#activo {
    color: white;
    text-shadow: 0 0 5px #AE3CC4, 0 0 15px #AE3CC4, 0 0 25px #AE3CC4, 0 0 35px #efa0ff, 0 0 65px #efa0ff, 0 0 75px #efa0ff, 0 0 90px #efa0ff, 0 0 140px #efa0ff;
}

.bg-black {
    background-color: #00000052 !important;
}

.card {
    background-color: transparent !important;
    border: 0;
}

%heading {
    transform: scale(1.05);
    transition-duration: 0.2s;
}

.order-1 :hover {
    @extend %heading;
    background-color: #00CD90;
}

.order-2 :hover {
    @extend %heading;
    background-color: #7809CE;
}

.order-3 :hover {
    @extend %heading;
    background-color: #E53A04;
}

.order-4 :hover {
    @extend %heading;
    background-color: #0012B4;
}

.order-5 :hover {
    @extend %heading;
    background-color: #CC0000;
}